/* Zain Font Import */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
 
/* main colors */

/* General Code */
main {
    margin-bottom: 60px;
    margin-top: 40px;
}

/* Background color for the whole webpage */
body {
    background: linear-gradient(to bottom, #efd5ff 0%, #8189fd 100%);
    background-attachment: fixed; /* Prevents the background from scrolling */
}

/*Navbar*/
.navbar {
    background-color: #707CCE;
    position: sticky;
    top: 0;
    z-index: 1030;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 6px #2f3d4265;
}

.navbar-nav {
    --bs-nav-link-color: white !important;
}

.navbar-collapse {
    border-radius: 10px;
    padding: 3px; /* Spacing inside of drop down menu */
    font-family: 'Zain', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-size: 120% !important;
    font-weight: 300;
    font-family: 'lemon', 'zain', sans-serif;
    color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-toggler {
    border: none !important;
}

.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

/* Index Page */
/* Hero Section */
img.hero-image {
    width: 100%;
    margin-top: 15%;
}

div.hero-text{
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 350;
}
#hero_text_title {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#hero_text_main {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 160%;
}

/* About Section */
.about {
    background-color: #ffffffc4;
    border-radius: 10px;
    margin-top: 10px; /* Add padding between the hero section and the about section */
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 6px #2f3d4265;
}

.about-text {
    color: #434db0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Zain', sans-serif;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

#about-text {
    font-size: 25px ;
    font-weight: 300;
}

/* Card Section */
.mental_health_info_title {
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #ffffff;
    font-weight: 350;
}

#mainContent {
    padding-bottom: 10px;
}

header {
    background-color: #74CFED;
    color: white;
    border-radius: 10px;
    margin-top: 0px;
}

.card-body {
    font-family: 'Zain', sans-serif;
    font-weight: 350;
    font-size: 25px;
    color: #434db0 !important;
    background-color: #F5F1FF !important;
    box-shadow: 0 4px 6px #2f3d4265;
}

.card-title {
    font-family: 'Zain', sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #434db0 !important;
}

.col-md-3 /*Cards*/ {
    margin-bottom: 10px;
    margin-top: 10px !important;
}

/* Uplifting Messages */
.uplifting_messages {
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #ffffff;
    font-weight: 350;
}

#upliftingCarousel {
    background-color: #ffffff;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #434db0;
    font-weight: 350;

    box-shadow: 0 4px 6px #2f3d4265;
}

#carousel-text h5 {
    font-size: 160% !important;
}

.carousel-control-prev-icon {
    filter: invert(61%) sepia(35%) saturate(1506%) hue-rotate(201deg) brightness(100%) contrast(100%);
    
}

.carousel-control-next-icon {
    filter: invert(61%) sepia(35%) saturate(1506%) hue-rotate(201deg) brightness(100%) contrast(100%);
}

/* Footer Styles are all inline */

/* Contact Us Page */
/* Emergency Disclaimer */
.emergency {
    background-color: #fb4954;
    color: white;
    margin-top: 80px;
    font-family: 'Zain', sans-serif;
}

/* Form */
#form-text {
    color: #434db0;
    font-family: 'Zain', sans-serif;
    font-size: 115%;
    margin-bottom: 1px !important;
}

#contact-form {
    margin-top: 10px !important;
    margin-bottom: 28px !important;
}

/* Thank You Page */

.under_hero_divide{
    background-color: #707CCE;
    padding-top: 20px;
}

#thank_you_message {
    margin-top: 128px;
    margin-bottom: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 6px #2f3d4265;
}
/* Resource Page */
/* Resource Page Intro */

.resource-intro {
    color: white;
    font-family: 'Zain', sans-serif;
    background-color: #707CCE;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Media Query for Small Mobile */
@media screen and (min-width: 230px) and (max-width: 320px) {
    /* INDEX */
    /* Navbar */
    .navbar-brand {
        font-size: 110% !important;
    }

    /* About Section */
    /* .about-text{
       font-size: 800px;
    } */

    /*Carousel*/
    #carousel-text h5 {
        font-size: 25px!important;
    }
    
    /* RESOURCE */
    #resource-text {
        font-size: 25px;
    }

    /* CONTACT US */
    #contact-form {
        margin-top: 56px !important;
        margin-bottom: 100px !important;
    }

    /* THANK YOU PAGE*/
    #thank_you_message {
        margin-bottom: 540px;
        margin-top: 20px;
    }
}

/* Media Query for Medium Mobile */
@media screen and (min-width: 321px) and (max-width: 375px) {
    /* INDEX */
    /* No Edits Needed */
    
    /* RESOURCE */
    #resource-text {
        font-size: 25px;
    }

    /* CONTACT US */
    #emergency-text{
        font-size: 25px !important;
    }

    #form-text {
        font-size: 160%;
        margin-bottom: 90px;
    }
    
    #contact-form {
        margin-bottom: 49px !important;
    }

    #name {
        font-size: 25px;
    }

    #email {
        font-size: 25px;
    }

    #subject {
        font-size: 25px;
    }

    #message {
        font-size: 25px;
    }

    #contact_form_button {
        font-size: 25px !important;
    }

    /* THANK YOU PAGE*/
    .under_hero_divide {
        padding-top: 40px;
    }

    #thank_you_message {
        margin-bottom: 418px;
    }
}

/* Media Query for Large Mobile */
@media screen and (min-width: 376px) and (max-width: 425px) {
    /* INDEX */
    /* No Edits Needed */
    
    /* RESOURCE */
    /* No Edits Needed */

    /* CONTACT US */
    /* No Edits Needed */
    
    /* THANK YOU PAGE*/
    #thank_you_message {
        margin-bottom: 177px;
    }
}

/* Media Query for Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
    /* INDEX */
    /* Hero Section */
    img.hero-image {
        margin-top: 0px !important;
    }

    #hero_text_main {
        font-size: 200%;
    }

    .about-text {
        font-size: 400% !important;
    }

    /* Card Section */
    .col-md-3 {
        width: 100% !important;
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

    .card-body {
        height: 288px !important;
        font-size: 170%;
    }

    .row {
        justify-content: center;
    }

    /* RESOURCES */
    /* Resources  */


}