/* Zain Font Import */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
 
/* main colors */

/* General Code */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        color: #8189fd;
    }
}

main {
    margin-bottom: 60px;
    margin-top: 40px;
}

/* Background color for the whole webpage */
body {
    background: linear-gradient(to bottom, #efd5ff 0%, #8189fd 100%);
    background-attachment: fixed; /* Prevents the background from scrolling */
}

/*Navbar*/
.navbar {
    background-color: #707CCE;
    position: sticky;
    top: 0;
    z-index: 1030;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 6px #2f3d4265;
}

.navbar-nav {
    --bs-nav-link-color: white !important;
}

.navbar-collapse {
    border-radius: 10px;
    padding: 3px; /* Spacing inside of drop down menu */
    font-family: 'Zain', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-size: 120% !important;
    font-weight: 300;
    font-family: 'lemon', 'zain', sans-serif;
    color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-toggler {
    border: none !important;
}

.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

/* Index Page */
/* Hero Section */
img.hero-image {
    width: 100%;
    margin-top: 15%;
}

div.hero-text{
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 350;
}

/* About Section */
.about {
    background-color: #ffffffc4;
    border-radius: 10px;
    margin-top: 10px; /* Add padding between the hero section and the about section */
    margin-left: 10px;
    margin-right: 10px;
}

.about-text {
    color: #434db0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Zain', sans-serif;
}

/* Card Section */
.mental_health_info_title {
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #ffffff;
    font-weight: 350;
}

#mainContent {
    padding-bottom: 10px;
}

#imageGrid {
    padding-top: 5px;
}

header {
    background-color: #74CFED;
    color: white;
    border-radius: 10px;
    margin-top: 0px;
}

.card-body {
    font-family: 'Zain', sans-serif;
    font-weight: 600;
    font-size: 110%;
    color: #434db0 !important;
    background-color: #F5F1FF !important;
}

.card-title {
    font-family: 'Zain', sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #434db0 !important;
}

.col-md-3 /*Cards*/ {
    margin-bottom: 10px;
    margin-top: 10px !important;
}

/* Uplifting Messages */
.uplifting_messages {
    background-color: #707CCE;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #ffffff;
    font-weight: 350;
}

#upliftingCarousel {
    background-color: #ffffff;
    font-family: 'Zain', sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: #434db0;
    font-weight: 350;
    font-size: 2000% !important;
}

#carousel-text {
    font-size: 160% !important;
}

.carousel-control-prev-icon {
    filter: invert(61%) sepia(35%) saturate(1506%) hue-rotate(201deg) brightness(100%) contrast(100%);
    
}

.carousel-control-next-icon {
    filter: invert(61%) sepia(35%) saturate(1506%) hue-rotate(201deg) brightness(100%) contrast(100%);
}

/* Footer Styles are all inline */

/* Contact Us Page */
/* Emergency Disclaimer */
.emergency {
    background-color: #fb4954;
    color: white;
    margin-top: 80px;
    font-family: 'Zain', sans-serif;
}

/* Form */
#form-text {
    color: #434db0;
    font-family: 'Zain', sans-serif;
    font-size: 115%;
    margin-bottom: 1px !important;
}

#contact-form {
    margin-top: 10px !important;
    margin-bottom: 28px !important;
}

/* Thank You Page */

.thank_you_image {
    margin-top: 10px;
    width: 100%;
}

/* Resource Page */
/* Resource Page Intro */

.resource-intro {
    color: white;
    font-family: 'Zain', sans-serif;
    background-color: #707CCE;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



